# Обработка табличных данных без Pandas

## Используемые библиотеки:
- openpyxl
- dateutil
- datetime

Есть некие абстранктные данные, откуда без подключения pandas будем извлекать и преобразовывать необходимую нам информацию:

In [1]:
# Чтение файла csv возможно и без подключения библиотек.
# Файл в формате UTF-8 (желательно, особенно, если есть кириллица)

f = open(
    '/Users/Anastasia/Documents/Бизнес_анализ_Python/code/Занятие 1/Книга.csv', encoding='utf-8'
    )
lines = f.readlines() # Читаем открытый файл в список, содержащий элементы типа str
print(lines)

['\ufeffx;y;z;d;e\n', 'sdf;345;49,28571429;01.март;45\n', 'asdfasd;345;49,28571429;02.март;\n', 'asdgad;56;8;03.март;35\n', 'gsfg;78;11,14285714;04.март;\n', 'sdfgsd;2;0,285714286;05.март;\n', 'sdfgsd;54;7,714285714;06.март;3,14']

Для системы windows, где слэши такого \ вида, в аргумент функции open путь к файлу необходимо указывать таким образом:

`f = open(r"путь к файлу", 'r')`

Это связано с тем, что некоторые сочетания с \ являются регулярными, а сам левый слэш - знаком экранирования в python.

In [2]:
lines[4] # можно обращаться к элементам как в обычном списке

'gsfg;78;11,14285714;04.март;\n'

In [3]:
lines[-1].split(';') # так как разделитель ;, можем разлить строку на список методом split()

['sdfgsd', '54', '7,714285714', '06.март', '3,14']

In [4]:
lines[4].split(';')[-3] # И можем обращаться далее к разделенному списку по индексу

'11,14285714'

In [5]:
line = lines[-1].split(';')
print(int(line[1])) # Преобразовываем в целое число
print(float(line[1])) # Преобразовываем в вещественное число

54
54.0

In [6]:
line[2]

'7,714285714'

Но мы не сможем преобразовать `line[2]` сразу в тип float, так как в вещественном типе числа разделителем является точка (.), А не запятая (,). Поэтому ее необходимо заменить методом `replace('то, что надо заменить', 'то, на что надо заменить')`:

In [7]:
float(line[2].replace(',', '.')) # Записываем все в одну строчку

7.714285714

In [8]:
float(line[-1].replace(',', '.')) # Знак переноса, стоящий в конце числа, преобразуется без проблем

3.14

Есть датасет с автомобилями, скачанный с сайта avto.ru с необработанными данными. Нам нужно преобразовать:
- пробег - число с пробелом, разделяющим тысячи, привести обычный вид, и заменить "новый" на 0;
- цена со знаком рубля на конце - привести в обычный вид;
- в модели убрать porcshe 911, так как эта запись повторяется в каждой колонке;
- двигатель - разделить и сделать 3 колонки: объем двс, мощность, тип топлива

In [9]:
# Открываем файл и читаем его:

f = open(
        '/Users/Anastasia/Documents/Бизнес_анализ_Python/code/Датасеты/Porsche.csv', 
        encoding = 'utf-8' # Если ругается на кодировку, добавляем агрумент encoding = 'utf-8'
)

# f.read(1) # пропустили первый служебный символ (\ufeff), чтобы не мешался 
# read(1) читает 1 символ и так как мы не положили его в переменную, он улетел в никуда
# Дальше read() будет читать после 1 символа, что бы мы в () не положили.
# То есть read() действует как виртуальный "курсор", где остановился, оттуда дальше и читает

f.readline() # Аналогично с read(), только readline() читает строку csv-файла
# То есть этим кодом мы отправляем первую строчку в никуда, так как не записывает ее в переменную.

# В следующей опериции, когда мы записываем данные в переменную, "курсор" читает с предыдущего места остановки:
cars = f.readlines()

print(cars[:2]) # Как видим, шапки в списке нет

['0;72 500 км;Porsche 911  VI (997) Carrera S;3 000 000 ₽;2005;механика;кабриолет;задний;серый;3.8 л/355л.с./Бензин\n', '1;1 500 км;Porsche 911  VIII (992) Carrera 4S;15 500 000 ₽;2019;робот;кабриолет;полный;серый;3.0 л/450л.с./Бензин\n']

UTF-8 - самый растпространенный тип кодировки, который коддерживает кириллицу. Если в дате содержатся русские буквы, то в случае, когда кодировка отлична от UTF-8, русские буквы заменятся другими символами.

Python library - библиотека опций Python, гуглится первой ссылкой. На русском нет документации.

Задача:

**Обойти в цикле все строки, вытащить пробег, перевести его в мили и вывести на экран**

In [10]:
mileage = cars[1].split(';')[1]
mileage = float(''.join(mileage.replace(' км', '').split(' '))) * 0.621371
price_rub = cars[1].split(';')[3]
price_rub = ''.join(price_rub.replace(' ₽', '').split(' '))
vol, power, fuel = cars[1].split(';')[-1].split('/')
print(vol, power, fuel)

3.0 л 450л.с. Бензин

In [11]:
f = open('cars_new.csv', 'w', encoding = 'MacCyrillic') # Создание csv-файла 'cars_new.csv'
f.write('kmage;mileage;price_rub;price_usd;vol;power;fuel\n') # Записываем шапку - в конце знак переноса '\n'!

KM_TO_MILE= 0.621371 # переменная для перевода км в мили (константы пишутся в верхнем регистре)
RUB_TO_USD = 73.1925 # переменная для перевода рублей в доллары

# Так как у нас есть строковый заголовок (cars[0]), который будет мешать преобразовывать данные в числа при выполнении цикла, 
# его (заголовок) можно убрать нескольскими способами: 
# cars[1:] - не оптимальное решение, так как загружает систему и оперативную память;
# в первом блоке "прочитать" первую строку в "никуда" через readline()
for value in cars:
    kmage = value.split(';')[1]
    try:
        kmage = round(float(''.join(kmage.replace(' км', '').split(' '))))
        mileage = round(kmage * KM_TO_MILE) # round() - округление вещественного числа до целого
        
    except:
        kmage = float(kmage.replace('Новый', '0'))
        mileage = kmage
        
    price_rub = value.split(';')[3]
    # Символ ₽ в юникоде - '\u20BD', где \u - что в юникоде, а 20BD - код символа (можно гуглить). 
    # Лучше указывать '\u20BD', так как при пересыле символ может "сломаться"
    price_rub = int(''.join(price_rub.replace(' ₽', '').split(' ')))
    price_usd = price_rub / RUB_TO_USD
    
    # Прикол в том, что у нас одним делением можно получить сразу 3 переменных.
    # Главное - соблюдать последовательность (3.0 л/450л.с./Бензин -> объем, мощность, топливо):
    vol, power, fuel = value.split(';')[-1].split('/') 
    
    vol = float(vol.replace(' л', ''))
    power = int(power.replace('л.с.', ''))
    # Важно, чтобы в конце строки был символ переноса '\n', он есть в переменной fuel
    s = f"{kmage};{mileage};{price_rub};{price_usd:0.4f};{vol};{power};{fuel}".replace('.',',')
    # :l.nf - управляет количеством знаков после запятой (n) и длиной строки (l);
    # :0.4f - если 0 в длине строки, длина равна записи; если задаем длину, запись короче будет с пробелами спереди
    #print(s)
    f.write(s) # Записываем сформированную выше строку на каждом шаге цикла

f.close()
# Обязательно закрываем процесс (ну или не обязательно)
# Видео остановила на 3:51ч

Функция `filter(функция, итерируемый объект)` - фильтр применяет функцию к итерируемому объекту.

`filter(str.isdigit, s)` вернет список только тех элементов из s, которые в str.isdigit == True

In [12]:
s = '5 650 000 ₽'
s = "".join(filter(str.isdigit, s))
s

'5650000'

## Из Питона в csv

Функция `zip()` как бы попарно соединяет списки, записанные в ее аргумент. Если списки разной длины, функция отработает по короткому списку. Чтобы работало по длинному, нужна функция `zip_longest()`

In [13]:
# есть такие списки:
a = [12, 34, 56, 51, 89, 69]
b = [1.43, 54, 73, 3.14, -14, 0]

# Хотим их записать в csv-файл.
f = open('data.csv', 'w')
f.write('a;b\n') # Записываем шапку

# Для записи данных мы с помощью zip() одновременно берем a[0] и b[0], a[1] и b[1] и так далее:
for ai, bi in zip(a, b):
    #print(ai, bi)
    #s = str(ai) + ',' + str(bi.replace(',', '.')) + '\n'
    s = f'{ai};{bi}\n'.replace(',', '.') # или таким образом через Ф-строку
    # Внутри {} нельзя написать replace()
    print(s)
    f.write(s) # Записьм файла в csv
    
f.close() # Обязательно надо закрыть процесс, иначе файл будет пустой при просмотре

print(list(zip(a, b)))

12;1.43

34;54

56;73

51;3.14

89;-14

69;0

[(12, 1.43), (34, 54), (56, 73), (51, 3.14), (89, -14), (69, 0)]

## Работаем с excel напрямую

In [14]:
import openpyxl # Библиотека для рагрузки файлов excel

In [15]:
# Создадим файл excel

wb = openpyxl.Workbook() # Книга excel
ws = wb.active # ссылка-указатель на текущий лист
ws['A1'] = 'hello'
ws['B1'] = 'hi'



wb.save('example.xlsx') # В корневой папке появится сохраненный файл example.xlsx, 
                        # где в ячейке А1 записано hello, а в ячейке В1 - hi
    
for row in ws['A2':'B11']: # Для строчки в заданном диапазоне ячеек:
    for cell in row:       # для ячейки в строчке
        cell.value = 0     # присвоить значение ячейке = 0
        
wb.save('example.xlsx') # В корневой папке появится сохраненный файл example.xlsx, 
                        # где, кроме hello и hi, в ячейках А2-В11 появился 0

In [16]:
print(a, b) # Запишем эти списки в excel-файл
a[0]

[12, 34, 56, 51, 89, 69] [1.43, 54, 73, 3.14, -14, 0]

12

In [17]:
# Два варианта написания цикла для записи списка в excel-файл:

# Первый вариант: с итерированию по индексу в списке
i = 0                       # задаем начальное значение индекса
for row in ws['C2':'C7']:   # цикл для строк в заданном диапазоне excel, кол-во ячеек = кол-во элементов списка
    for cell in row:
        cell.value = a[i]   # записываем в ячейку элемент списка по индексу
    i += 1                  # на выходе из подцикла прибавляем к индексу 1, чтобы записать следуюший элемент списка

# Второй вариант с использованием zip()
# Список указывается первым, так как он короче и для zip() он будет ограничителем. Иначе выпадет ошибка.
for bi, cell in zip(b, ws['D']):       # Указываем список и диапазон просто буквой D (по сути D11). 
    cell.value = bi               # Здесь подцикл не нужен, когда мы указываем просто колонку 'D'
wb.save('example.xlsx')

In [18]:
# Хотим записать формулу в excel:

ws['C12'] = '=SUM(C2:C11)' # присваиваем ячейке формулу как мы бы ее написали в ней на английском языке

# запишем формулу в колонку (протянутую через всю колонку):
j = 1
for cell in ws['E']:
    cell.value = f'=D{j} * 2' # Записись с помощью F-строки для перебора ячеек в excel-файле
    j += 1

wb.save('example.xlsx')

In [19]:
# Теперь хотим сделать оформление документа:
header_font = openpyxl.styles.Font(bold=True, color='800000')
# color='800000' - темно-красный, кодировка цвета RRGGBB (красный, красный, зеленый, зеленый, синий, синий)

ws['A1'].font = header_font # Шрифт в яейке А1 поменяется на темно-красный и станет жирным
wb.save('example.xlsx')

### Задача на создание файла excel и работа с другими форматами файлов

Формат, где колонки отделены друг от друга пробелами. Они могут быть выровняны по левому или правому краю. Такой формат файа иногда называют FWF.

Рассмотрим формат файла, где колонки разделены между собой символами и пробелами, иммитирующими таблицу такого типа:

|. text.  |  123   | something else |
-------------------------------------
| text.  | 456.  |     another            |
-------------------------------------

In [20]:
s = '|10.04.15|   0.649| 152.72| 153.36|    -  |   0.64| 48.7| 44.4|  4.3|  0.11| 23.89|E      |'

In [21]:
float(s[51:56]) # в срезе получаем значение t1 из файла "отопление", преобразовываем его в число
s[58:62]        # в срезе получаем значение t2 из файла "отопление"

'44.4'

In [22]:
t = open(
    '/Users/Anastasia/Documents/Бизнес_анализ_Python/code/Датасеты/Отопление.txt',
    encoding = 'MacCyrillic')
temp = t.readlines()[14:44] # записываем только строки с 14 по 44, так как именно там нужная нам информация
temp[0][51:56]

' 49.3'

In [23]:
# Функция для перевода Цельсиев в Фаренгейты:
def c_to_f(c):
    return (c * 9/5) + 32

In [24]:
data = [] # Будем создавать список кортежей
for t in temp:
    t1 = float(t[51:56])
    t2 = float(t[58:62])
    t1_fr = round(c_to_f(t1), 2)
    t2_fr = round(c_to_f(t2), 2)
    d = t[1:9]
    row = (d, t1, t2, t1_fr, t2_fr)
    data.append(row)
    
print(data[0][0])

01.04.15

In [25]:
wb = openpyxl.Workbook() # Книга excel
ws = wb.active # ссылка-указатель на текущий лист

# Цикл проходится по строкам сформированной таблице data с кортежами и по строкам excel-файла
for data_row, excel_row in zip(data, ws.iter_rows(                          # метод итериции из библиотеки openpyxl
                                                min_row = 2,                # начинаем со второй строки excel
                                                min_col = 1,                # с первой колонки (А)
                                                max_col = 1 + len(data[0]), # крайняя колонка= 1+кол-во эл-тов кортежа
                                                max_row = 2 + len(data))    # крайняя строка= 1+кол-во кортежей в data
                              ):
    for value, cell in zip(data_row, excel_row): # Проходимся по значениям кортежа и ячекам файла
        cell.value = value                       # Присваиваем ячейкам значения элементов кортежа

headers = ['Дата', 't1 C', 't2 C', 't1 F', 't2 F'] # Создаем заголовки таблицы

for name, cell in zip(headers, ws[1]): # Присваиваем значения первой строки листа
    cell.value = name


wb.save('temp_c_f.xlsx')

`>>> for row in ws.iter_rows(min_row=1, max_col=3, max_row=2):
...    for cell in row:
...        print(cell)
<Cell Sheet1.A1>
<Cell Sheet1.B1>
<Cell Sheet1.C1>
<Cell Sheet1.A2>
<Cell Sheet1.B2>
<Cell Sheet1.C2>`
Здесь видим цикл, проходящий по ячейкам с А1 по С2 (2 строки, 3 колонки)

Еще про кортежи. *Кортеж* - **неизменяемый** тип данных, после его создания нет возможности изменить его элементы, добавить их или удалить. Удалить можно лишь сам кортеж целиком. Обращаться к его элементам можно так же как к элементам списка.

In [26]:
# Вариант с использованием списка списков и с итерацией по колонкам:
data_new = [] 
list_d = ['Дата']
list_t1 = ['Температура_1 в цельсиях']
list_t2 = ['Температура_2 в цельсиях']
list_t1_fr = ['Температура_1 в фаренгейтах']
list_t2_fr = ['Температура_2 в фаренгейтах']

for t in temp:
    t1 = float(t[51:56])
    t2 = float(t[58:62])
    t1_fr = round(c_to_f(t1), 2)
    t2_fr = round(c_to_f(t2), 2)
    d = t[1:9]
    list_d.append(d)
    list_t1.append(t1)
    list_t2.append(t2)
    list_t1_fr.append(t1_fr)
    list_t2_fr.append(t2_fr)
    
data_new.extend([list_d, list_t1, list_t2, list_t1_fr, list_t2_fr])
print(data_new)

[['Дата', '01.04.15', '02.04.15', '03.04.15', '04.04.15', '05.04.15', '06.04.15', '07.04.15', '08.04.15', '09.04.15', '10.04.15', '11.04.15', '12.04.15', '13.04.15', '14.04.15', '15.04.15', '16.04.15', '17.04.15', '18.04.15', '19.04.15', '20.04.15', '21.04.15', '22.04.15', '23.04.15', '24.04.15', '25.04.15', '26.04.15', '27.04.15', '28.04.15', '29.04.15', '30.04.15'], ['Температура_1 в цельсиях', 49.3, 48.2, 48.7, 50.2, 50.2, 49.4, 49.4, 48.1, 48.1, 48.7, 48.0, 46.9, 48.1, 49.3, 46.8, 42.8, 35.6, 39.7, 39.2, 39.1, 40.9, 42.1, 39.9, 41.3, 43.3, 43.5, 43.0, 42.9, 43.0, 43.2], ['Температура_2 в цельсиях', 44.9, 44.0, 44.4, 45.5, 45.5, 45.0, 45.4, 44.3, 43.6, 44.4, 45.3, 44.7, 45.5, 46.4, 44.4, 41.6, 35.3, 38.4, 37.9, 37.9, 39.2, 40.5, 38.9, 39.5, 36.5, 36.8, 38.5, 39.6, 40.0, 39.8], ['Температура_1 в фаренгейтах', 120.74, 118.76, 119.66, 122.36, 122.36, 120.92, 120.92, 118.58, 118.58, 119.66, 118.4, 116.42, 118.58, 120.74, 116.24, 109.04, 96.08, 103.46, 102.56, 102.38, 105.62, 107.78, 103.82, 106.34, 109.94, 110.3, 109.4, 109.22, 109.4, 109.76], ['Температура_2 в фаренгейтах', 112.82, 111.2, 111.92, 113.9, 113.9, 113.0, 113.72, 111.74, 110.48, 111.92, 113.54, 112.46, 113.9, 115.52, 111.92, 106.88, 95.54, 101.12, 100.22, 100.22, 102.56, 104.9, 102.02, 103.1, 97.7, 98.24, 101.3, 103.28, 104.0, 103.64]]

In [27]:
wb = openpyxl.Workbook() # Книга excel
ws = wb.active # ссылка-указатель на текущий лист

# Цикл проходится по спискам списков и колонам excel-файла
# занимаем ячейки для заполнения: 5 колонок (кол-во подсписков в списке), 31 строка (кол-во элементов в каждом подсписке)
for data_new_col, excel_col in zip(data_new, ws.iter_cols(min_row=1, max_col=5, max_row=31)):
    for value, cell in zip(data_new_col, excel_col):
        cell.value = value
        
# нет необходимости писать цикл для заполнения шапки таблицы, названия включены в подсписки колонок

wb.save('temp_c_f_new.xlsx')

In [28]:
# Вариант с использованием словаря и с итерацией по колонкам:
dict_new = {}
dict_list_d = []
dict_list_t1 = []
dict_list_t2 = []
dict_list_t1_fr = []
dict_list_t2_fr = []

for t in temp:
    d = t[1:9]
    dict_list_d.append(d)
    dict_new['Дата'] = dict_list_d
    t1 = float(t[51:56])
    dict_list_t1.append(t1)
    dict_new['t1 C'] = dict_list_t1
    t2 = float(t[58:62])
    dict_list_t2.append(t2)
    dict_new['t2 C'] = dict_list_t2
    t1_fr = round(c_to_f(t1), 2)
    dict_list_t1_fr.append(t1_fr)
    dict_new['t1 F'] = dict_list_t1_fr
    t2_fr = round(c_to_f(t2), 2)
    dict_list_t2_fr.append(t2_fr)
    dict_new['t2 F'] = dict_list_t2_fr
    
#data_new.extend([list_d, list_t1, list_t2, list_t1_fr, list_t2_fr])
dict_new.keys()

dict_keys(['Дата', 't1 C', 't2 C', 't1 F', 't2 F'])

In [29]:
wb = openpyxl.Workbook() # Книга excel
ws = wb.active # ссылка-указатель на текущий лист

# Цикл проходится по словарю с методом items() и колонам excel-файла
# занимаем ячейки для заполнения: 5 колонок (кол-во подсписков в списке), 31 строка (кол-во элементов в каждом подсписке)
for (cols, values), excel_col in zip(dict_new.items(), ws.iter_cols(min_row=2, max_col=5, max_row=32)):
    for value, cell in zip(values, excel_col):
        cell.value = value
        
for name, cell in zip(dict_new, ws[1]): # Присваиваем значения первой строки листа
    cell.value = name
    
wb.save('temp_c_f_dict.xlsx')

В принципе, понятно, что метод по строкам в рамках данной задачи наиболее удобен, но я хотела посмотреть еще другие варианты записи данных в excel-файл.

### Даты с точки зрения Python

In [30]:
import dateutil
import datetime as dt

In [31]:
d = ['30.04.15', '10.01.15', '22.03.15', '01.11.15']

In [32]:
sorted(d) # сортировка происходит не по дате, так как python не понимает, что это даты и сортирует в алфавитном порядке

['01.11.15', '10.01.15', '22.03.15', '30.04.15']

В `datetime` есть 2 объекта: 
- дата (просто день)
- временная отметка `timestamp`

In [33]:
d1 = dt.date(2021, 1, 1) # yr, mnth, dd
d2 = dt.date.today()
print(d1, d2)

2021-01-01 2021-08-21

При формировании даты `dt.date(2021, 1, 1)` необходимо в строгом порядке указывать **год, месяц, день**

`dt.date.today()` берет дату с компа. Если на компе дата сбилась или неверно настроена, он выдаст именно эту.

Дату можно создать из строки, но тогда она должны быть записана в формате ISO: ГГГГ-ММ-ДД. C другими типами записи не сработает

In [34]:
print(d2 > d1) # Даты можно сравнивать
print(d2 - d1) # Даты можно вычитать друг из друга и получатся дни
print(d2 + dt.timedelta(days = 100))

True
232 days, 0:00:00
2021-11-29

Выражение `d2 + dt.timedelta(days = 100)` может добавить или вычесть какой-то временной промежуток из имеющейся даты. В аргументе можно указать количество недель, дней, часов, минут, секунд, мили и микросекунд:

`delta = datetime.timedelta(days=0, 
                           seconds=0, 
                           microseconds=0, 
                           milliseconds=0, 
                           minutes=0, 
                           hours=0, 
                           weeks=0)`

In [35]:
# Меняем формат записи даты:
print(d2.strftime('%d.%m.%y'), '\n', 
      d2.strftime('%d/%m/%Y'), '\n', # Y (верхнего регистра) - 4 цифры в годе
      d2.strftime('%m - месяц; %d - день; %y - год')
     )

print(type(d2), type(d2.strftime('%d.%m.%y'))) # тип даты в этом случае уже не datetime.date, а str

21.08.21
 21/08/2021
 08 - месяц; 21 - день; 21 - год
<class 'datetime.date'> <class 'str'>

`strftime()` - метод преобразования формата записи даты. В документации можно посмотреть различные шаблоны записи:

https://docs.python.org/3.8/library/datetime.html?highlight=strftime#strftime-strptime-behavior

Кроме **datetime.date** существует формат **datetime.datetime** - дата + время:

`class datetime.datetime(year, month, day, hour=0, minute=0, second=0, microsecond=0, tzinfo=None, *, fold=0)`

In [36]:
dt.datetime.now() # год, месяц, день, часы, минуты, секунды, микросекунды

datetime.datetime(2021, 8, 21, 10, 0, 11, 178843)

`dateutil` - пакет для перевода строковых данных в даты формата datetime.datetime, импортирован выше

In [37]:
print(dateutil.parser.parse('02.03.2021')) # по умолчанию распознает в американском формате - 3 февраля, а не 2 марта
print(dateutil.parser.parse('02.03.2021', dayfirst=True)) # атрибут "переключающий" на европейский манер записи даты
print(dateutil.parser.parse('2021-03-02')) # с форматом ISO проблем не бывает
print(dateutil.parser.parse('3/2/21'))

2021-02-03 00:00:00
2021-03-02 00:00:00
2021-03-02 00:00:00
2021-03-02 00:00:00

In [38]:
print(dateutil.parser.parse('3/2/21').date()) # Переделываем в класс date
print(type(dateutil.parser.parse('3/2/21').date()))

2021-03-02
<class 'datetime.date'>

In [39]:
# В цикле пройдем по списку кортежей data и переведем запись даты в формат date
for row in data:
    d_str = row[0] # мы не можем менять row[0], так как он в кортеже!!!
    d_datetime = dateutil.parser.parse(d_str, dayfirst=True).date()
    print(d_str, d_datetime, d_datetime.strftime('%d/%m/%Y'))

01.04.15 2015-04-01 01/04/2015
02.04.15 2015-04-02 02/04/2015
03.04.15 2015-04-03 03/04/2015
04.04.15 2015-04-04 04/04/2015
05.04.15 2015-04-05 05/04/2015
06.04.15 2015-04-06 06/04/2015
07.04.15 2015-04-07 07/04/2015
08.04.15 2015-04-08 08/04/2015
09.04.15 2015-04-09 09/04/2015
10.04.15 2015-04-10 10/04/2015
11.04.15 2015-04-11 11/04/2015
12.04.15 2015-04-12 12/04/2015
13.04.15 2015-04-13 13/04/2015
14.04.15 2015-04-14 14/04/2015
15.04.15 2015-04-15 15/04/2015
16.04.15 2015-04-16 16/04/2015
17.04.15 2015-04-17 17/04/2015
18.04.15 2015-04-18 18/04/2015
19.04.15 2015-04-19 19/04/2015
20.04.15 2015-04-20 20/04/2015
21.04.15 2015-04-21 21/04/2015
22.04.15 2015-04-22 22/04/2015
23.04.15 2015-04-23 23/04/2015
24.04.15 2015-04-24 24/04/2015
25.04.15 2015-04-25 25/04/2015
26.04.15 2015-04-26 26/04/2015
27.04.15 2015-04-27 27/04/2015
28.04.15 2015-04-28 28/04/2015
29.04.15 2015-04-29 29/04/2015
30.04.15 2015-04-30 30/04/2015